:root {
}

.unity-button {
    scale: 1 1;
    transition-property: background-color, border-color, transform, -unity-slice-scale;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.unity-button:hover {
    scale: 1.05 1.05;
}

.unity-button:active {
    scale: 0.95 0.95;
    transition-duration: 0.05s;
}

.unity-text-element {
    -unity-font-definition: resource('FlatSkin/Font/Roboto-Black');
    font-size: 50px;
    -unity-text-align: middle-center;
}
